.onoffswitch {
    position: relative;
    width: 58px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: left;
    margin: 8px 3px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    border: 2px solid #999999;
    border-radius: 6px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 18px;
    padding: 0;
    line-height: 16px;
    font-size: 10px;
    color: #FFF;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #3CB00E;
    color: #FFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #801C1C;
    color: #D4D4D4;
    text-align: right;
}

.onoffswitch-switch {
    width: 14px; margin: 0px;
    background: #666666;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 44px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    border-radius: 10px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}