body {
	font-family: Helvetica, Arial;
	font-size: 11px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	padding: 0;
}

a {
	color: #333;
}

.pane {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	border-radius: 10px;
	display: none;
	text-align: center;
}

#outer {
	position: absolute;
	border: 1px #ccc solid;
	width: 290px;
	height: 340px;
	border-radius: 10px;
	margin: -170px -145px;
	top: 50%;
	left: 50%;
}

#startPane {
	background: #f4f4f4;
}

#startPane h1 {
	display: block;
	font-size: 18px;
	text-align: center;
	padding-top: 25px;
}

#achievements {
	background: #eee;
}

h2 {
	display: block;
	font-size: 12px;
	text-align: center;
}

#aboutPane {
	background: #eee;
	padding: 20px;
}

#settingsPane {
	background: #eee;
	text-align: left;
}

.setting {
	overflow: hidden;
	margin: 20px;
	background: #f4f4f4;
	border-radius: 10px;
	line-height: 40px;
}

.setting label.set {
	width: 116px;
	display: block;
	text-align: right;
	margin-right: 10px;
	float: left;
}

.setting input[type=range] {
	width: 50px;
	float: left;
	margin: 12px 10px 0 0;
}

#dotsizedot {
	float: left;
	background: red;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: relative;
}

#play {
	background: #eee;
}

#preGamePane {
	background: #eee;
}

#score {
	font-size: 16px;
	font-weight: bold;
	display: block;
	text-align: center;
	line-height: 45px;
}

#game {
	cursor: default;
	margin: 0 40px;
	border-radius: 10px;
	overflow: hidden;
}

#store {
	position: absolute;
	width: 175px;
	height: 150px;
	background: rgba(240,240,240,0.9);
	border-radius: 10px;
	top: 58px;
	left: 58px;
	display: none;
}

.button {
	background: #444 no-repeat;
	border-radius: 6px;
	color: #eee;
	cursor: default;
	display: block;
	width: 150px;
	line-height: 30px;
	margin: 20px auto;
	text-align: center;
	-webkit-transition: all .2s ease-in-out;
}

.button:not(.disabled):hover {
	background-color: #666;
	box-shadow: 0 0 5px #555;
}

.button.small {
	line-height: 20px;
	margin: 10px auto;
}

.button.disabled {
	opacity: .3;
}

.button.icon {
	background-position: 3px center;
	text-align: left;
	text-indent: 40px;
}

#remove {
	background-image: url('wipe-24.png');
}

#random {
	background-image: url('dice-24.png');
}

#fill {
	background-image: url('fill-24.png');
}

.start #startPane {
	display: block;
}

.about #aboutPane {
	display: block;
}

.achievements #achievementsPane {
	display: block;
}

.settings #settingsPane {
	display: block;
}

.pregame #preGamePane {
	display: block;
}

.play #playPane {
	display: block;
}

.store #store {
	display: block;
}

.playButton {
	display: inline-block;
	width: 75px;
	line-height: 35px;
	background: #fff;
	border: 1px #777 solid;
	border-radius: 8px;
	color: #333;
	background: #fff no-repeat center 15px;
	padding-top: 40px;
	margin: 5px;
	cursor: default;
}

.playButton:hover {
	-webkit-transition: all .2s ease-in-out;
	box-shadow: 0 0 5px #555;
}

#play60secs {
	background-image: url('time-24.png');
}

#play30moves {
	background-image: url('connected-24.png');
}

#playForever {
	background-image: url('infinity-24.png');
}

#pausemenu {
	position: absolute;
	top: 86px;
	left: 50px;
	right: 50px;
	background: rgba(235,235,235,0.9);
	display: none;
}

#notifications {
	background: #ccc;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	padding: 3px;
	margin: 0;
	list-style: none;
	text-align: left;
}

#notifications .notification {
	background: #ddd;
}